{{#if user}}
<html>
{{> head}}
<body>

<div class="container">

    {{> topbar}}

    {{> navbar}}

    <br>
    <div class="wrapper">

        <div class="row">

            <div class="col-sm-10">

                <h3>Polypharmacy Project</h3>

                <p>The <b>Polypharmacy Project</b> is .... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <h4>Polypharmacy Graphs</h4>

                <ul class="query-list">
                    <li> <a href="/visualization/PDC-053/{{user.clinic}}/{{user.clinician}}?initiative=polypharmacy">Polypharmacy > 5 Medications</a> - the number of active patients that are currently on more than 5 medications that 65 years of age or older.</li>
                    <li> <a href="/visualization/PDC-054/{{user.clinic}}/{{user.clinician}}?initiative=polypharmacy">Polypharmacy > 10 Medications</a> - the number of active patients that are currently on more than 10 medications that 65 years of age or older.</li>
                    <li> <a href="/visualization/PDC-055/{{user.clinic}}/{{user.clinician}}?initiative=polypharmacy">Top 10 Most Frequently Prescribed Medication Classes</a> - the top ten medication classes prescribed by individual physicians for their active patients.</li>
                    <li> <a href="/visualization/PDC-057/{{user.clinic}}/{{user.clinician}}?initiative=polypharmacy">Digoxin Medication Use</a> - the use of Digoxin (> 125 mcg/day) in those active patients with impaired renal function who are 65 years of age or older.</li>
                    <li> <a href="/visualization/PDC-057/{{user.clinic}}/{{user.clinician}}?initiative=polypharmacy">Statins for Primary Prevention</a> - the percentage of active patients, 65 years old and older, on statins for primary prevention, whereby primary prevention is the absence of documented myocardial infarction (MI), acute MI or stroke.</li>
                    <li> <a href="/visualization/PDC-058/{{user.clinic}}/{{user.clinician}}?initiative=polypharmacy">Statins for Secondary Prevention</a> -  the percentage of active patients, 65 years old and older, on statins for secondary prevention, whereby secondary prevention is the presence of documented myocardial infarction (MI), acute MI or stroke. </li>
                </ul>

                <!--
                {{#if reports}}
                    <h4>Downloadable Reports</h4>
                {{/if}}

                <ul class="query-list">

                    {{#if reports.polypharmacy-report}}
                        <li><a href="/report/{{reports.polypharmacy-report.shortTitle}}">Polypharmacy Report</a> - the number of active patients that are currently on more than 5 AND 10 medications for patients that are 65 years of age or older.</li>
                    {{/if}}

                    {{#if reports.medclass-report}}
                        <li><a href="/report/{{reports.medclass-report.shortTitle}}">Top 10 Most Frequently Prescribed Medication Classes</a> - the top ten medication classes prescribed by individual physicians for their active patients.</li>
                    {{/if}}

                    {{#if reports.statin-report}}
                        <li><a href="/report/{{reports.statin-report.shortTitle}}">Statins Use</a> - the percentage of active patients, 65 years old and older, on statins for both primary and secondary prevention.</li>
                    {{/if}}

                </ul>
                -->

                <h4>Downloadable Reports</h4>

                <ul class="query-list">

                    <li><a href="/report/polypharmacy-report.csv">Polypharmacy Report</a> - the number of active patients that are currently on more than 5 AND 10 medications for patients that are 65 years of age or older.</li>
                    <li><a href="/report/medclass-report.csv">Top 10 Most Frequently Prescribed Medication Classes</a> - the top ten medication classes prescribed by individual physicians for their active patients.</li>
                    <li><a href="/report/statins-report.csv">Statins Use</a> - the percentage of active patients, 65 years old and older, on statins for both primary and secondary prevention.</li>

                </ul>

            </div>
            <div class="col-sm-2">

            </div>

        </div>

    </div>


</div>
<!-- container -->
<script>
    setNavbarColor("navbar-polypharmacy");
</script>

</body>
</html>
{{/if}}
