<html>
{{> head}}
<body>



<div class="container">

    {{> topbar}}

    {{> navbar}}

    <br>

    <div class="wrapper">

        <div class="row">

            <div class="col-sm-10">

                <h3>Population Health Project</h3>

                <p>
                    The <b>Population Health Project</b> is .... Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                    in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

                <h4>Population Health Graphs</h4>

                <h5>Prevalence</h5>

                <ul class="query-list">

                    <li><a href="/visualization/PDC-960/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Diabetes</a></li>
                    <li><a href="/visualization/PDC-962/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Hypertension</a></li>
                    <li><a href="/visualization/PDC-958/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of COPD</a></li>
                    <li><a href="/visualization/PDC-955/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Congestive Heart Failure</a></li>
                    <li>
                        <a href="/visualization/PDC-1785/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Obesity (all active patients)</a>

                        <ul>
                            <li><a href="/visualization/PDC-1004/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Obesity in Adults</a></li>
                            <li><a href="/visualization/PDC-602/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Obesity in Adolescents</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/visualization/PDC-1913/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Tobacco Use (all active patients)</a>

                        <ul>
                            <li><a href="/visualization/PDC-999/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Tobacco Use in Adults</a></li>
                            <li><a href="/visualization/PDC-1000/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Tobacco Use in Adolescents</a></li>
                        </ul>
                    </li>

                    <li><a href="/visualization/PDC-1786/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Ischemic Heart Disease</a></li>
                    <li><a href="/visualization/PDC-954/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence Chronic Kidney Disease in Adults</a></li>
                    <li><a href="/visualization/PDC-1787/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence Cerebrovascular Disease in Adults</a></li>
                    <li><a href="/visualization/PDC-1788/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence Osteoarthritis in Adults</a></li>
                    <li><a href="/visualization/PDC-959/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence Depression</a></li>

                </ul>

                <h5>Chronic Disease Management</h5>

                <ul class="query-list">

                    <li><a href="/visualization/PDC-1153/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes Screening with Fasting Glucose or A1c</a></li>
                    <li><a href="/visualization/PDC-1903/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes Screening with Fasting Glucose Only</a></li>
                    <li><a href="/visualization/PDC-1904/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with HBA1c in the last 6 months</a></li>
                    <li><a href="/visualization/PDC-1905/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with HBA1c in the last year >= 7%</a></li>
                    <li><a href="/visualization/PDC-1135A/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with HBA1c in the last year < 7.1%</a></li>
                    <li><a href="/visualization/PDC-1153B/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with HBA1c in the last year 7.1 - 8.0%</a></li>
                    <li><a href="/visualization/PDC-1153C/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with HBA1c in the last year 8.1 - 9.0%</a></li>
                    <li><a href="/visualization/PDC-1153D/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with HBA1c in the last year > 9.0%</a></li>
                    <li><a href="/visualization/PDC-1906/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with LDL >= 2.5 mmol/L in last year</a></li>
                    <li><a href="/visualization/PDC-1136/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetes with LDL > 2.6 mmol/L in last year</a></li>
                    <li><a href="/visualization/PDC-1919/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Diabetics with Normal Blood Pressure</a></li>
                    <li><a href="/visualization/PDC-1134/{{user.clinic}}/{{user.clinician}}?initiative=population-health">INR Monitoring</a></li>

                </ul>

                <h5>Preventive Care</h5>

                <ul class="query-list">

                    <li><a href="/visualization/PDC-1004/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Obesity in Adolescents</a></li>
                    <li><a href="/visualization/PDC-602/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Documented Prevalence of Obesity in Adults</a></li>
                    <li><a href="/visualization/PDC-1901/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Percent of >65 y/o patients with documented Pneumococcal Vaccine</a></li>
                    <li><a href="/visualization/PDC-1155/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Percent of >25 y/o patients with documented Tetanus Vaccine</a></li>
                    <li><a href="/visualization/PDC-943/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Percent of >=65 y/o patients with documented Influenza Vaccine this year</a></li>

                </ul>

                <h5>Disease Screening</h5>

                <ul class="query-list">

                    <li><a href="/visualization/PDC-1902/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Colon Cancer Screening in last two years (50-74)</a></li>
                    <li><a href="/visualization/PDC-1149/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Cervical Cancer - Females 18-70</a></li>
                    <li><a href="/visualization/PDC-995/{{user.clinic}}/{{user.clinician}}?initiative=population-health">Breast Cancer Screen - Females 50-70</a></li>
                    <li>
                        <a href="/visualization/PDC-1150/{{user.clinic}}/{{user.clinician}}?initiative=population-health">HIV Screening - Total Population</a>

                        <ul class="query-list">

                            <li><a href="/visualization/PDC-992/{{user.clinic}}/{{user.clinician}}?initiative=population-health">HIV Screening - Adult Males</a></li>
                            <li><a href="/visualization/PDC-993/{{user.clinic}}/{{user.clinician}}?initiative=population-health">HIV Screening - Adult Females</a></li>

                        </ul>

                    </li>

                </ul>

                <h4>Downloadable Reports</h4>

                <ul class="query-list">

                    <li><a href="/report/prevalence-report.csv">Prevalence</a></li>
                    <li><a href="/report/prevalence-report.csv">Chronic Disease Management</a></li>

                </ul>

            </div>
            <div class="col-sm-2">

            </div>

        </div>

        <br>
        <hr>
        <br>

        <div class="row">

            <div class="col-xs-12">

                <p>The queries above can be exported to the AMCARE network. To get your AMCARE file for today, please click the button below then upload to <a href="https://amcare.unbc.ca/Default.aspx">AMCARE</a></p>
                <br>
                <a href="/amcare"><button class="btn btn-primary btn-large">Create AMCARE File</button></a>

            </div>

        </div>

        <br>
        <br>
    </div>


</div>
<!-- container -->
<script>
    setNavbarColor("navbar-population-health");
</script>

</body>
</html>
